.bd{
    color: black;
    background-color: #4f7fe7;
    border-radius:0px 0px 30px 30px;
    height: 60px;
    padding-right: 30px;
    padding-left:30px;
    width:auto;
    margin-bottom: 70px;
    font-weight:bolder;
}
