.bd{
    color: black;
    background-color: #8248ec;
    border-radius:0px 0px 30px 30px;
    height: 60px;
    padding-right: 30px;
    padding-left:30px;
    width:auto;
    margin-bottom: 70px;
    font-weight:bold;
    font-size: 20px;
}
.fit{
    margin-bottom: 4px;
    margin-right: 2px;
}
